<div class="container-fluid">
  <div class="spacing"></div>
  <div class="row justify-content-center">
    <div class="marshmallow col-9">
      <div class="row">
        <div class="col">
          <projects-shopping-list-header></projects-shopping-list-header>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <projects-shopping-list-list></projects-shopping-list-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
