<nav class="navbar navbar-expand size round-corners color-bananacreme-base">
  <div class="container-fluid">
    <div class="navbar-nav">
      <button
        type="button"
        class="btn btn-lemon-nav"
        routerLink="/recipe-book/add"
      >
        Add
      </button>
    </div>
    <div class="navbar-nav">
      <form class="d-flex nav-link me-auto">
        <input class="form-control me-2" type="text" placeholder="Search" />
        <button class="btn btn-outline-lemon-nav" type="submit">
          <i class="bi bi-search-heart"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
